//////////////////////////////////
/// SASS VARIABLE DECLEARATION ///
//////////////////////////////////

// TYPEFACE //
$headerFont: "Asap", sans-serif;
$paragraphFont: "Nunito", sans-serif;

$lightWeight: 300;
$mediumWeight: 500;
$semiBoldWeight: 600;
$boldWeight: 700;

// COLOURS //
$fontColor: #1B245E;

$darkBlue: #2A3592;
$mainBlue: #99D1F1;
$secondaryBlue: #C6E9FA;
$lightBlue: #DCF4FF;
$charcoal: #1F1F24;
$yellow: #FFF962;

// FONT SIZES //
$paragraphFontSize: 14px;
$boldParagraphFontSize: 16px;
$sectionHeaderFontSize: 50px;